<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite Sport</title>
  </head>
  <body>
    <h1>Select Your Favorite Sport</h1>
    <form method="POST" action="/sports">
      <label for="sport">Choose a sport:</label><br />
      <select id="sport" name="sport">
        <option value="basketball">Basketball</option>
        <option value="volleyball">Volleyball</option>
        <option value="tabletennis">Table Tennis</option></select
      ><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
